<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <form  method="post" action="/login">
        <h2>Login</h2>
        <p>
            <label for="username">First Name</label>
            <input type="text" id="username" name="j_username" placeholder="First Name" required="" autofocus="">
        </p>
        <p>
            <label for="password">Password</label>
            <input type="password" id="password" name="j_password" placeholder="Password" required="">
        </p>
        <button type="submit">Sign in</button>
    </form>
</div>
</body>
</html>